body {
    background-image: url(../media/office.png);
    padding-bottom: 100px;
    font-size: 24px;
    font-family: 'VT323', monospace;
}

h1 {
    font-size: 1.7em;
}

h2 {
    padding: 5px;
    color: #808080;
    text-shadow: 1px 1px #333333;
    font-size: 1.5em;
}

p {
    padding: 5px;
    color: #808080;
    text-shadow: 1px 1px #333333;
    font-size: 1.2em;
}

.bodyBackground {
    background-image: url(../media/FFbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    display: flex;
    max-width: 960px;
    min-height: 400px;
    height: auto;
}

.header {
    background-image: url(../media/ffheader.jpg);
    /* background: linear-gradient( 45deg, #698fa7, #4fa1db); */
    height: auto;
    position: relative;
    top: 0px;
    width: 100%;
    font-family: 'VT323', monospace;
    text-align: center;
    color: #cccccc;
    text-shadow: 2px 2px #122b3b;
}

.footer {
    background: linear-gradient( 45deg, #22455e, #122b3b);
    background-color: #183346;
    color: #e8c77a;
    text-align: center;
    align-items: center;
    display: block;
    border-top: 10px solid #2f4352;
    padding: 5px;
    height: auto;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.container {
    justify-content: center;
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
    max-width: 960px;
}

.sidebar {
    background-image: url(../media/escheresque_ste.png);
}

.content {
    /* align-content: center;
    justify-content: center; */
    text-align: center;
    padding: 15px;
    width: 100%;
}

.characterSelect {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 500px;
    background: linear-gradient( 135deg, #0000aec9, #000024c9); 

}


.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
    justify-content: space-between;
}

.inRow{
    justify-content: flex-start;
}

.fighters {
    display: 1;
    padding: 5px;
    justify-content: space-around;
    /* border: 5px ridge #c6c6c6; */

    /* width: 50px;
    height: 50px; */
}

.charPic {
    border: 5px ridge #c6c6c6;
}

.charPic:hover {
    border: 5px ridge #ffffff;
}

.characterInfoBox {
    flex: 1;
    justify-content: flex-start;
    border: 5px ridge #c6c6c6;
    height: 100%;
}

.moogleCIB {
    display: flex;
    /* justify-content: center; */
    /* justify-items: center; */
}

#moogleTalk {
    flex: 2;
    text-align: left;
    justify-content: center;
}

.battleScreen{
    background-image: url(../media/escheresque_ste.png);
}
#VSbutton {
    flex:1;
    /* margin: auto; */
    /* width: 20%;
    min-width: 50px; */
}

#playersFighterDiv {
    flex: 1;
}

#enemyFighterDiv {
    flex: 1;
}
/* .cloud {
    background-image: url(../media/cloud.png);
}

.lightning {
    background-image: url(../media/lightning.png);
}

.sephiroth {
    background-image: url(../media/Sephiroth.png);
}

.noctis {
    image: url(../media/noctis.png);

} */